= form_for @family do |f|
  -if @family.errors.any?
    #error_explanation
      %h2= "#{pluralize(@family.errors.count, "error")} prohibited this family from being saved:"
      %ul
        - @family.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label '和名'
    = f.text_field :name_jp
  .field
    = f.label '英名'
    = f.text_field :name_en
  .field
    = f.label '学名'
    = f.text_field :name_la
  .actions
    = f.submit '保存'
