= content_for :header do
  %h1= @family.name_jp
  .menu
    %button= link_to '編集', edit_family_path(@family)
    %button= link_to '削除', @family, :confirm => 'まじでまじすか？', :method => :delete
    %button= link_to "#{@family.name_jp}の魚一覧", family_fish_index_path(@family)
    %button= link_to "#{@family.name_jp}の魚追加", new_family_fish_path(@family)

%hr/
.field
  和名:
  = @family.name_jp
.field
  学名:
  = @family.name_la
.field
  英名:
  = @family.name_en
%hr/
