= form_for(@photo) do |f|
  -if @photo.errors.any?
    #error_explanation
      %h2= "#{pluralize(@photo.errors.count, "error")} prohibited this photo from being saved:"
      %ul
        - @photo.errors.full_messages.each do |msg|
          %li= msg

  = image_tag(@photo.file.mobile.url) if @photo.file?
  %p ※URLまたはファイルのどちらかを入力してください
  %table
    %tr
      %td= f.label '魚'
      %td= collection_select(:photo, :fish_id, Fish.all, :id, :name_jp)
    %tr
      %td= f.label 'URL'
      %td= f.text_field :remote_file_url
    %tr
      %td= f.label 'ファイル'
      %td= f.file_field :file
  = f.hidden_field :file_cache
  = f.submit '保存'
