= form_for [@family, @fish, @photo] do |f|
  -if @photo.errors.any?
    #error_explanation
      %h2= "#{pluralize(@photo.errors.count, "error")} prohibited this photo from being saved:"
      %ul
        - @photo.errors.full_messages.each do |msg|
          %li= msg
  .field
    = image_tag(@photo.file_url) if @photo.file?
  .field  
    = f.label :file
    = f.file_field :file
  .field  
    = f.label :url
    = f.text_field :remote_file_url
    = f.hidden_field :file_cache
  .actions
    = f.submit '保存'
