- if @photo.fish
  %h1 #{@photo.fish.name_jp}の写真編集
- else
  %h1 写真編集

= render 'form'

%hr
- if @photo.fish
  %button= link_to '同じ魚の写真一覧', fish_photos_path(@photo)
%button= link_to '写真一覧', photos_path
%button= link_to '表示', @photo
%button= link_to '削除', @photo, :confirm => 'まじでまじすか？', :method => :delete
