= content_for :header do
  %h1
    - if @fish
      = "#{@fish.name_jp}/#{@fish.name_en}"
    - else
      Photos

- @photos.each do |photo|
  .mobile_center= link_to image_tag(photo.file.mobile.url), photo
