= content_for :header do
  %h1
    - if @fish
      = "#{@fish.name_jp}/#{@fish.name_en}"
    - else
      Photos
%p= @fish.description_jp if @fish
.ui-grid-a
  - @photos.each do |photo|
    %div{'class' => cycle('ui-block-a', 'ui-block-b')}
      = link_to image_tag(photo.file.mobile.url), photo

