%header
  - if @fish
    %h1= "#{@fish.name_jp}の写真一覧"
    %button= link_to "新規（#{@fish.name_jp}）", new_fish_photo_path(@fish)
  - else
    %h1 写真一覧
    %button= link_to '新規（写真）', new_photo_path

%table
  %tr
    %th ID
    %th 科
    %th 魚
    %th 写真
    %th サイズ
    %th 操作
  - @photos.each do |photo|
    %tr
      %td= photo.id
      %td= photo.fish.family.name_jp if photo.fish and photo.fish.family
      %td= photo.fish.name_jp if photo.fish
      %td= image_tag(photo.file.thumb.url)
      %td= photo.file.get_geometry
      %td
        - if @fish
          %button= link_to '表示', [@fish, photo]
          %button= link_to '編集', edit_fish_photo_path(@fish, photo)
          %button= link_to '削除', [@fish, photo], confirm: 'まじですか？', method: :delete
        - else
          %button= link_to '表示', photo
          %button= link_to '編集', edit_photo_path(photo)
          %button= link_to '削除', photo, confirm: 'まじですか？', method: :delete
