%h1 Listing photos

%p= @mobile

%table
  %tr
    %th
    - if admin?
      %th
      %th
      %th
    %th
  - @photos.each do |photo|
    %tr
      %td= image_tag(photo.file.thumb.url, width: '100%') if photo.file?
      - if admin?
        %td= link_to 'Show', family_fish_photo_path(@family, @fish, photo)
        %td= link_to 'Edit', edit_family_fish_photo_path(@family, @fish, photo), 'data-ajax' => 'false'
        %td= link_to 'Destroy', family_fish_photo_path(@family, @fish, photo), confirm: 'Are you sure?', method: :delete
      %td= link_to 'Show', family_fish_photo_path(@family, @fish, photo)

%br

= link_to 'Families', families_path
|
= link_to 'Fish', family_fish_index_path(@family)
- if admin?
  |
  = link_to 'New Photo', new_family_fish_photo_path(@family, @fish), 'data-ajax' => 'false'
