= content_for :header do
  - if @fish
    %h1= "#{@fish.name_jp}の写真一覧"
    .menu
      %button= link_to "#{@fish.name_jp}の写真を追加", new_fish_photo_path(@fish)
      %button= link_to "#{@fish.name_jp}の情報を編集", edit_fish_path(@fish)
  - else
    %h1 写真一覧
    .menu
      %button= link_to '写真を追加', new_photo_path

%table
  %tr
    %th 科
    %th 魚
    %th 学名
    %th 英名
    %th ID
    %th.photo 写真
    %th サイズ
    %th.operation 操作
  - @photos.each do |photo|
    %tr
      %td
        -  if photo.fish and photo.fish.family
          =link_to photo.fish.family.name_jp, family_fish_index_path(photo.fish.family)
      %td
        - if photo.fish
          =link_to photo.fish.name_jp, fish_photos_path(photo.fish)
      %td= photo.fish.name_la if photo.fish
      %td= photo.fish.name_en if photo.fish
      %td= photo.id
      %td.photo= image_tag(photo.file.thumb.url)
      %td= photo.file.get_geometry
      %td
        - if @fish
          %button= link_to '表示', [@fish, photo]
          %button= link_to '編集', edit_fish_photo_path(@fish, photo)
          %button= link_to '削除', [@fish, photo], confirm: 'まじですか？', method: :delete
        - else
          %button= link_to '表示', photo
          %button= link_to '編集', edit_photo_path(photo)
          %button= link_to '削除', photo, confirm: 'まじですか？', method: :delete
