%header
  = link_to '科一覧', families_path
  >>
  = link_to '魚一覧', family_fish_index_path(@family)
  %h1= "#{@fish.name_jp}の写真一覧ほげ"
  %button= link_to '新規（写真）', new_family_fish_photo_path(@family, @fish)
%table
  %tr
    %th ID
    %th 写真
    %th 操作
  - @photos.each do |photo|
    %tr
      %td= photo.id
      %td= image_tag(photo.file.thumb.url)
      %td
        %button= link_to '表示', [@family, @fish, photo]
        %button= link_to '編集', edit_family_fish_photo_path(@family, @fish, photo)
        %button= link_to '削除', [@family, @fish, photo], confirm: 'まじですか？', method: :delete
