%div{"data-role" => "header"}
  - if @photo.fish
    %h1= "#{@photo.fish.name_jp}/#{@photo.fish.name_en}"
  - else
    %h1 Photo
%div{"data-role" => "content"}
  %p#notice= notice
  = image_tag @photo.file.url, width: '100%'
