%div{"data-role" => "header"}
  - if @photo.fish
    %h1 #{@photo.fish.name_jp}/#{@photo.fish.name_en}
  - else
    %h1 Photo
%div{"data-role" => "content"}
  %p#notice= notice

  %p
    = image_tag(@photo.file_url, width: '100%') if @photo.file?

%hr  
- if @photo.fish
  %button= link_to '同じ魚の写真一覧', fish_photos_path(@photo.fish)
%button= link_to '写真一覧', photos_path
%button= link_to '編集', edit_photo_path(@photo)
%button= link_to '削除', @photo, :confirm => 'まじでまじすか？', :method => :delete
