%div{"data-role" => "header"}
  %h1
    = @fish.name_jp
    \/
    = @fish.name_en
%div{"data-role" => "content"}
  %p#notice= notice

  %p
    = image_tag(@photo.file_url, width: '100%') if @photo.file?

  - if admin?
    = link_to 'Edit', edit_family_fish_photo_path(@family, @fish, @photo)
