!!!
%html
  %head
    %title Fish Album-管理画面
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .navbar
      - if notice
        %p#notice= notice
      %span
        - if admin?
          %button= link_to '科一覧', families_path
          %button= link_to '魚一覧', fish_index_path
          %button= link_to '写真一覧', photos_path
          %button= link_to '検索', search_path
          %button= link_to 'モバイル画面', admin_logout_path
        - else
          %button= link_to '管理画面', admin_login_path
        %button= link_to 'Issues', 'https://github.com/ychubachi/fish_album/issues/new', target: '_blank'
        %button= link_to 'Picasa', 'https://picasaweb.google.com/101680618216862629937', target: '_blank'
    = yield
    %footer
      %p 2011 Copyright (C) by D.S.Murai and Y.Chubachi
      %span
        参考
        = link_to 'Web魚図鑑', 'http://fishing-forum.org/zukan/index.htm', target: '_blank'

