!!!
%html
  %head
    %title Fish Album-管理画面
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %p#notice= notice
    .navbar
      - if admin?
        %button= link_to 'ログアウト', admin_logout_path
        %button= link_to '科一覧', families_path
        %button= link_to '魚一覧', fish_index_path
        %button= link_to '写真一覧', photos_path
        %button= link_to '検索', search_path
      - else
        %button= link_to 'ログイン', admin_login_path
    %hr
    = yield
    %hr
    %p 2011 Copyright (C) by D.S.Murai and Y.Chubachi

