-if @fish.errors.any?
  #error_explanation
    %h2= "#{pluralize(@fish.errors.count, "error")} prohibited this fish from being saved:"
    %ul
      - @fish.errors.full_messages.each do |msg|
        %li= msg

= form_for(@fish) do |f|
  .field
    = f.label '科'
    = f.collection_select(:family_id, Family.all, :id, :name_jp)
  .field
    = f.label :name_jp
    = f.text_field :name_jp
  .field
    = f.label :description_jp
    = f.text_area :description_jp
  .field
    = f.label :nickname_jp
    = f.text_field :nickname_jp
  .field
    = f.label :name_la
    = f.text_field :name_la
  .field
    = f.label :name_en
    = f.text_field :name_en
  - if @fish.id    
    %p 代表的な写真
    %ol
      - Photo.where("fish_id = #{@fish.id}").each do |photo|
        %li
          = f.radio_button(:thumb_photo_id, photo.id)
          = image_tag(photo.file.thumb.url)
  .actions
    = f.submit '保存'
  
