= form_for(@fish) do |f|
  -if @fish.errors.any?
    #error_explanation
      %h2= "#{pluralize(@fish.errors.count, "error")} prohibited this fish from being saved:"
      %ul
        - @fish.errors.full_messages.each do |msg|
          %li= msg


  %table        
    %tr
      %td= f.label '科'
      %td= collection_select(:fish, :family_id, Family.all, :id, :name_jp)
    %tr
      %td= f.label :name_jp
      %td= f.text_field :name_jp
    %tr
      %td= f.label :nickname_jp
      %td= f.text_field :nickname_jp
    %tr
      %td= f.label :name_en
      %td= f.text_field :name_en
    %tr
      %td= f.label :name_la
      %td= f.text_field :name_la
  .actions
    = f.submit '保存'
