= form_for([@family, @fish]) do |f|
  -if @fish.errors.any?
    #error_explanation
      %h2= "#{pluralize(@fish.errors.count, "error")} prohibited this fish from being saved:"
      %ul
        - @fish.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name_jp
    = f.text_field :name_jp
  .field
    = f.label :nickname_jp
    = f.text_field :nickname_jp
  .field
    = f.label :name_en
    = f.text_field :name_en
  .field
    = f.label :name_la
    = f.text_field :name_la
  .actions
    = f.submit '保存'
