-if @fish.errors.any?
  #error_explanation
    %h2= "#{pluralize(@fish.errors.count, "error")} prohibited this fish from being saved:"
    %ul
      - @fish.errors.full_messages.each do |msg|
        %li= msg

= form_for(@fish) do |f|
  .field
    %table
      %tr
        %td= f.label '科'
        %td= f.collection_select(:family_id, Family.all, :id, :name_jp)
      %tr
        %td= f.label :name_jp
        %td= f.text_field :name_jp
      %tr
        %td= f.label :description_jp
        %td= f.text_area :description_jp
      %tr
        %td= f.label :nickname_jp
        %td= f.text_field :nickname_jp
      %tr
        %td= f.label :name_la
        %td= f.text_field :name_la
      %tr
        %td= f.label :name_en
        %td= f.text_field :name_en
    - if @fish.id    
      %p 代表的な写真
      %div
        - Photo.where("fish_id = #{@fish.id}").each do |photo|
          %div{ 'style' => 'float:left;' }
            = f.radio_button(:thumb_photo_id, photo.id)
            = image_tag photo.file.thumb.url, { 'style' => 'vertical-align:text-top;' }
  .actions{ 'style' => 'clear:left;' }
    = f.submit '保存'
  
