= content_for :header do
  %h1
    - if @family
      = "#{@family.name_jp}"
    - else
      = Fish

%ul{'data-role' => 'listview'}
  - @fish.each do |fish|
    %li
      %a{ href: fish_photos_path(fish) }
        = image_tag fish.thumb_photo.file.mobile.url if fish.thumb_photo
        %h3= fish.name_jp
        %p<
          = fish.name_la if ! fish.name_la.blank?
          = " / #{fish.name_en}" if ! fish.name_en.blank?
