%h1 Listing fish

%h2
  = @family.name_jp
  (
  = @family.name_en
  )

%table
  %tr
    %th= t 'activerecord.attributes.fish.name_jp'
    %th= t 'activerecord.attributes.fish.nickname_jp'
    %th= t 'activerecord.attributes.fish.name_en'
    %th= t 'activerecord.attributes.fish.name_la'
    %th
    %th
    %th
    %th
  - @fish.each do |fish|
    %tr
      %td= fish.name_jp
      %td= fish.nickname_jp
      %td= fish.name_en
      %td= fish.name_la
      %td= link_to 'Show', family_fish_path(@family, fish)
      %td= link_to 'Edit', edit_family_fish_path(@family, fish)
      %td= link_to 'Destroy', family_fish_path(@family, fish), :confirm => 'Are you sure?', :method => :delete
      %td= link_to 'Photo', family_fish_photos_path(@family, fish)
%br

= link_to 'Families', families_path
- if @mobile.blank?
  |
  = link_to 'New Fish', new_family_fish_path
