%h1 Listing fish

%table
  %tr
    %th= t 'activerecord.attributes.fish.family_jp'
    %th= t 'activerecord.attributes.fish.name_jp'
    %th= t 'activerecord.attributes.fish.nickname_jp'
    %th= t 'activerecord.attributes.fish.family_en'
    %th= t 'activerecord.attributes.fish.name_en'
    %th= t 'activerecord.attributes.fish.name_la'
    %th
    %th
    %th

  - @fish.each do |fish|
    %tr
      %td= fish.family_jp
      %td= fish.name_jp
      %td= fish.nickname_jp
      %td= fish.family_en
      %td= fish.name_en
      %td= fish.name_la
      %td= link_to 'Show', fish
      %td= link_to 'Edit', edit_fish_path(fish)
      %td= link_to 'Destroy', fish, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Fish', new_fish_path
