%header
  %h1
    - if @family
      = "#{@family.name_jp}の魚一覧"
    - else
      魚一覧
  - if @family
    %button= link_to "#{@family.name_jp}の魚を追加", new_family_fish_path(@family)
    %button= link_to "#{@family.name_jp}の情報を編集", edit_family_path(@family)
  - else
    %button= link_to '魚を追加', new_fish_path
%table
  %tr
    %th 科
    %th 和名
    %th 学名
    %th 英名
    %th.photo 代表写真
    %th.operation 操作
    %th.index 一覧
  - @fish.each do |fish|
    %tr
      %td
        -  if fish.family
          = link_to fish.family.name_jp, family_fish_index_path(fish.family)
      %td= link_to fish.name_jp, fish_photos_path(fish)
      %td= fish.name_la
      %td= fish.name_en
      - if fish.thumb_photo
        %td.photo= image_tag fish.thumb_photo.file.thumb.url
      - else
        %td.photo no photo
      %td.operation
        %button= link_to '表示', fish
        %button= link_to '編集', edit_fish_path(fish)
        %button= link_to '削除', fish, :confirm => 'まじです？', :method => :delete
      %td.index
        %button= link_to '写真', fish_photos_path(fish)
