%p= @family.name_jp
%p= @family.name_en

%ul{'data-role' => 'listview'}
  - @fish.each do |fish|
    %li
      %a{ href: family_fish_photos_path(@family, fish) }
        %p= fish.name_jp
        %p= fish.name_en
        %p= fish.name_la
      - if admin?
        %td= link_to 'Show', family_fish_path(@family, fish)
        %td= link_to 'Edit', edit_family_fish_path(@family, fish)
        %td= link_to 'Destroy', family_fish_path(@family, fish), :confirm => 'Are you sure?', :method => :delete

%br
= link_to 'Back', families_path, 'data-rel' => 'back', 'data-role' => 'button', 'data-inline' => 'true'
- if admin?
  |
  = link_to 'New Fish', new_family_fish_path
