%p#notice= notice

%table
  %tr
    %td= t 'activerecord.attributes.fish.name_jp'
    %td= @fish.name_jp
  %tr
    %td= t 'activerecord.attributes.fish.nickname_jp'
    %td= @fish.nickname_jp
  %tr
    %td= t 'activerecord.attributes.fish.name_en'
    %td= @fish.name_en
  %tr
    %td= t 'activerecord.attributes.fish.name_la'
    %td= @fish.name_la

%button= link_to '戻る', family_fish_index_path(@family)
%button= link_to '編集', edit_family_fish_path(@family, @fish)
