- if @fish.thumb_photo
  = image_tag @fish.thumb_photo.file.mobile.url

%table
  %tr
    %td= t '科'
    %td= @fish.family.name_jp
  %tr
    %td= t 'activerecord.attributes.fish.name_jp'
    %td= @fish.name_jp
  %tr
    %td= t 'activerecord.attributes.fish.nickname_jp'
    %td= @fish.nickname_jp
  %tr
    %td= t 'activerecord.attributes.fish.description_jp'
    %td= @fish.description_jp
  %tr
    %td= t 'activerecord.attributes.fish.name_en'
    %td= @fish.name_en
  %tr
    %td= t 'activerecord.attributes.fish.name_la'
    %td= @fish.name_la

%hr  
%button= link_to '魚一覧', fish_index_path
%button= link_to '同じ科の魚一覧', family_fish_index_path(@fish.family)
%button= link_to '編集', edit_fish_path(@fish)
%button= link_to "新規（#{@fish.name_jp}）", new_fish_photo_path(@fish)
